<div class="container">
  <h1>Lists of movies</h1>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list.id) %></li>
    <% end %>
  </ul>

  <div class="button">
    <%= link_to "Create a movie list", new_list_path %>
  </div>
</div>