<div class="container">
  <h1 class="mt-4">Here you can create a new movies list</h1>
  <%= simple_form_for(@list) do |f| %>
    <div class="mt-4">
      <%= f.input :name %>
      <%= f.button :submit, "Add list", class: "btn-yellow" %>
    </div>
  <% end %>
  
  <div class="py-3"><%= link_to 'Back to home page', lists_path %></div>
</div>