// CARDS ON THE INDEX
@mixin mobile {
  @media (max-width: 532px) {
    @content;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $blue;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    asset-url("background_card.jpg");
}

// CARDS ON THE SHOW

.card-movie {
  overflow: auto;
  width: 500px;
  height: 400px;
  color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    width: 95%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  h2 {
    font-weight: bold;
    margin: 0;

    @include mobile {
      font-size: 20px;
    }
  }

  h3 {
    text-align: center;
    font-weight: bold;

    @include mobile {
      font-size: 15px;
    }
  }

  p {
    margin: 0;
    text-align: center;
    font-style: italic;

    @include mobile {
      font-size: 10px;
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  a {
    color: $blue;
    margin-top: 5px;
    &:hover {
      color: $gray;
    }

    @include mobile {
      font-size: 10px;
    }
  }

  .overview {
    width: 500px;
  }

  #trash {
    text-align: center;
  }

  &:hover {
    background-color: $yellow;
    img {
      opacity: 0.2;
      z-index: 0;
      transition: 0.5s;
    }
  }

  .card-movie-hover {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: auto;
  }
}
